*.class
*.log
*.swp

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
project/*
project/build.properties
!project/site.sbt
project/r
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# ensime
.ensime
.ensime_cache/

# codacy
src/main/resources/

# large data file
src/main/resources/yellow_tripdata_2018-01.csv

# results
longest_trips_per_day.csv
top_tipping_zones.csv
